@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


body {
  background-color: #181e35;
}



/* Header section  */
header {
  background-color: #2b477b;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#logo {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

nav {
  display: flex;
  align-items: center;
  margin: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  padding: 0px 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #d4f4f7;
  
}

.searchbar {
  margin: 0px auto;
  align-items: center;
  display: flex;
}

.searchbar input {
  height: 38px;
  padding: 0px 10px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: white;
  background: #ff7575;
  box-shadow: 0 10px 50px #ff7c7c, 0 0 0 4px #ffffffeb;
  animation: searchbox 15s linear infinite;
}

#searchbtn {
  padding: 0px 0px;
  height: 34px;
  margin: 11px -41px;
  outline: none;
  color: white;
  background: #ff7575;
  animation: searchbox 15s linear infinite;
}

.bi-search::before {
  cursor: pointer;
  font-size: 20px;
  padding: 7px 7px;
}



/* ....Home.......  */
#Home {
  display: flex;
  height: 40rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,magenta,lightgreen,cyan,yellow,magenta,lime);
  mix-blend-mode: multiply;
  animation: homeSection 5s linear infinite;
}

#Home #homeContainer {
  text-transform: uppercase;
  text-align: center;
  color: black;
}
 
#Home #homeContainer h3 {
  font-size: 12px;
}

#Home #homeContainer h1{
  font-size: 45px;
  margin: 14px 0px;
}

#Home #homeContainer h4 {
  font-size: 14px;
  margin: 20px 0px;
}

#Home #homeContainer .btn2 {
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  line-height: 30px;
  width: 100px;
  margin-top: 15px;
  border: 3px solid white;
}

#Home #homeContainer #btn1 {
  background-color: #3f51b5;
}

#Home #homeContainer #btn2 {
  background: linear-gradient( 60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82
  );
}



/* About */
#About {
  color: #fff;
}

#About #aboutHeading {
  text-align: center;
  color: #b4ffed;
  width: fit-content;
  margin: 20px auto;
  font-size: 50px;
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #27ffeb;
}

#About #aboutContainer {
  display: flex;
  justify-content: space-evenly;
}

#About #aboutContainer2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  position: relative;
  top: 26px;
}

#About .aboutContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 64px;
  width: 50%;
}

#About .aboutContent p{
  padding: 49px 0px;
  line-height: 28px;
} 

#About .aboutContent a{
  font-weight: 600;
  color: #39ccdb;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 26px;
  width: fit-content;
}

#About .aboutContent a > span{
  font-size: 17px;
    padding: 0px 3px;
}

#About img{
  height: 400px;
  width: 400px;
  margin: 40px 92px;
  box-shadow: 16px 5px 45px 8px rgb(101, 255, 241);
}



/* Services */
#Services .serviceContainer {
  padding: 20px 9%;
}

#Services .serviceContainer #servicesHeading {
  margin: 20px 0px;
  text-align: center;
  color: #b4ffed;
  font-size: 50px;
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #27ffeb;
}

#Services .serviceContainer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 45px;
}

#Services .serviceContainer .box-container .box {
  flex: 1 1 300px;
  text-align: center;
  background: #eee;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#Services .serviceContainer .box-container .box i {
  font-size: 40px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 10px 0;
  color: #474893;
}

#Services .serviceContainer .box-container .box h3 {
  font-size: 25px;
  color: #666;
  text-transform: capitalize;
}

#Services .serviceContainer .box-container .box p {
  font-size: 18px;
  color: #999;
  padding: 5px;
}

#Services .serviceContainer .box-container .box .number {
  position: absolute;
  top: 5px;
  left: 15px;
  font-weight: bolder;
  font-size: 50px;
}

#Services .serviceContainer .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s linear;
  background: linear-gradient(45deg, aqua, fuchsia);
  clip-path: circle(28% at 5% 0);
}

#Services .serviceContainer .box-container .box:hover::before {
  clip-path: circle(100%);
}

#Services .serviceContainer .box-container .box:hover > * {
  color: #fff;
}



/* Contact form  */
#Contact {
  padding: 20px;
}

#Contact #contactHeading {
  margin: 34px 0 0 0px;
  text-align: center;
  color: #b4ffed;
  font-size: 50px;
  padding: 15px 0;
  text-transform: uppercase;
}

#Contact > p {
  color: white;
  width: 80%;
  margin: 15px auto;
  line-height: 27px;
  padding: 18px 25px;
  border-top: 1px solid #27ffeb;
  font-size: 15px;
  border-bottom: 1px solid #27ffeb;
}

form {
  width: 55%;
  margin: 50px auto;
  background: #ffffff12;
  border-radius: 10px;
  padding: 50px 40px;
  box-shadow: 0 0 20px #16c4a3;
}

form div > label {
  color: aliceblue;
  font-size: 18px;
}

form .formerror {
  color: #fd9a9a;
  position: relative;
  top: -9px;
  padding: 0px 14px;
}

input[type="text"],input[type="email"],textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  margin: 6px 0 16px 0;
  resize: vertical;
}

input[type="submit"] {
  background-color: #657dff;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
    background-color: #35c7a9;
  }



/* ...Footer......... */
footer{
  background-color: black;
}

footer div h2 {
  text-align: center;
  margin: 35px 0px 0px 0px;
  padding-top: 8px;
  color: #000000;
  animation: glow 1s ease-in-out infinite alternate;
}

footer div ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0px;
}

footer div ul li a {
  padding: 0px 5px;
}

/* social media icons */
.bi-linkedin::before {
  color: #0a66c2;
}
.bi-github::before {
  color: #f0f6fc;
}

footer div ul li a > span {
  font-size: 30px;
}

footer #copyright {
  text-align: center;
  padding: 7px 0px;
  color: white;
}
